@model Grone.MVC.ViewModel.CommentViewModel


    <form action="/Comment/AddComment" id="comment{{comment.Id}}" class="ng-pristine ng-valid comForm" enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Post Comment</h4>
            </div>
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" ng-if="post.Id">
                <label class="control-label-left col-md-12" for="PostId">Reply to post:</label>
                <div class="col-md-12">
                    <input type="text" name="PostId" class="form-control" value="{{post.Id}}" readonly />
                </div>
            </div>
            <div class="form-group" ng-if="comment.Id">
                <label class="control-label-left col-md-12" for="CommentId">Reply to comment:</label>
                <div class="col-md-12">
                    <input type="text" name="CommentId" class="form-control" value="{{comment.Id}}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label-left col-md-12" for="MemberId">Groner id:</label>
                <div class="col-md-12">
                    <input type="text" name="MemberId" class="form-control" value="@Session["User"].ToString()" readonly />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label-left col-md-12" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", rows = "12"} )
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImgSrc, htmlAttributes: new { @class = "control-label-left col-md-12" })
                <div class="col-md-12">
                    <input type="file" name="photoUpload" id="photoUpload" class="form-control" />
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class='uil-ring-css commentLoader'><div></div></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                        <input type="submit" value="POST" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        </form>
